LabratoarApp/Connected Services/FanAvaServices_Mobile/mobile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://incomingwebchannel.hrz.jpos.org/" targetOperatorspace="http://incomingwebchannel.hrz.jpos.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="balance" type="tns:balance" />
  <xs:element name="balanceCP" type="tns:balanceCP" />
  <xs:element name="balanceCPResponse" type="tns:balanceCPResponse" />
  <xs:element name="balanceResponse" type="tns:balanceResponse" />
  <xs:element name="billInq" type="tns:billInq" />
  <xs:element name="billInqResponse" type="tns:billInqResponse" />
  <xs:element name="billRequest" type="tns:billRequest" />
  <xs:element name="billRequestCP" type="tns:billRequestCP" />
  <xs:element name="billRequestCPResponse" type="tns:billRequestCPResponse" />
  <xs:element name="billRequestResponse" type="tns:billRequestResponse" />
  <xs:element name="config" type="tns:config" />
  <xs:element name="configResponse" type="tns:configResponse" />
  <xs:element name="fundInquiry" type="tns:fundInquiry" />
  <xs:element name="fundInquiryPlain" type="tns:fundInquiryPlain" />
  <xs:element name="fundInquiryPlainResponse" type="tns:fundInquiryPlainResponse" />
  <xs:element name="fundInquiryResponse" type="tns:fundInquiryResponse" />
  <xs:element name="fundTransfer" type="tns:fundTransfer" />
  <xs:element name="fundTransferPlain" type="tns:fundTransferPlain" />
  <xs:element name="fundTransferPlainResponse" type="tns:fundTransferPlainResponse" />
  <xs:element name="fundTransferResponse" type="tns:fundTransferResponse" />
  <xs:element name="getCard" type="tns:getCard" />
  <xs:element name="getCardList" type="tns:getCardList" />
  <xs:element name="getCardListResponse" type="tns:getCardListResponse" />
  <xs:element name="getCardResponse" type="tns:getCardResponse" />
  <xs:element name="jiringBillInquiry" type="tns:jiringBillInquiry" />
  <xs:element name="jiringBillInquiryResponse" type="tns:jiringBillInquiryResponse" />
  <xs:element name="jiringBillRequest" type="tns:jiringBillRequest" />
  <xs:element name="jiringBillRequestResponse" type="tns:jiringBillRequestResponse" />
  <xs:element name="login" type="tns:login" />
  <xs:element name="loginResponse" type="tns:loginResponse" />
  <xs:element name="transactionInfo" type="tns:transactionInfo" />
  <xs:element name="transactionInfoCP" type="tns:transactionInfoCP" />
  <xs:element name="transactionInfoCPResponse" type="tns:transactionInfoCPResponse" />
  <xs:element name="transactionInfoResponse" type="tns:transactionInfoResponse" />
  <xs:element name="refund" type="tns:refund" />
  <xs:element name="refundResponse" type="tns:refundResponse" />
  <xs:element name="request" type="tns:request" />
  <xs:element name="requestCP" type="tns:requestCP" />
  <xs:element name="requestCPResponse" type="tns:requestCPResponse" />
  <xs:element name="requestResponse" type="tns:requestResponse" />
  <xs:element name="requestWithId" type="tns:requestWithId" />
  <xs:element name="requestWithIdResponse" type="tns:requestWithIdResponse" />
  <xs:element name="reversal" type="tns:reversal" />
  <xs:element name="reversalResponse" type="tns:reversalResponse" />
  <xs:element name="settlement" type="tns:settlement" />
  <xs:element name="settlementResponse" type="tns:settlementResponse" />
  <xs:element name="supportCollection" type="tns:supportCollection" />
  <xs:element name="supportCollectionResponse" type="tns:supportCollectionResponse" />
  <xs:element name="topupMTN" type="tns:topupMTN" />
  <xs:element name="topupMTNCP" type="tns:topupMTNCP" />
  <xs:element name="topupMTNCPResponse" type="tns:topupMTNCPResponse" />
  <xs:element name="topupMTNCPSingle" type="tns:topupMTNCPSingle" />
  <xs:element name="topupMTNCPSingleResponse" type="tns:topupMTNCPSingleResponse" />
  <xs:element name="topupMTNResponse" type="tns:topupMTNResponse" />
  <xs:element name="topupMTNSingle" type="tns:topupMTNSingle" />
  <xs:element name="topupMTNSingleResponse" type="tns:topupMTNSingleResponse" />
  <xs:element name="topupSetaval" type="tns:topupSetaval" />
  <xs:element name="topupSetavalCP" type="tns:topupSetavalCP" />
  <xs:element name="topupSetavalCPResponse" type="tns:topupSetavalCPResponse" />
  <xs:element name="topupSetavalCPSingle" type="tns:topupSetavalCPSingle" />
  <xs:element name="topupSetavalCPSingleResponse" type="tns:topupSetavalCPSingleResponse" />
  <xs:element name="topupSetavalResponse" type="tns:topupSetavalResponse" />
  <xs:element name="topupSetavalSingle" type="tns:topupSetavalSingle" />
  <xs:element name="topupSetavalSingleResponse" type="tns:topupSetavalSingleResponse" />
  <xs:element name="walletBalance" type="tns:walletBalance" />
  <xs:element name="walletBalanceResponse" type="tns:walletBalanceResponse" />
  <xs:element name="walletCharge" type="tns:walletCharge" />
  <xs:element name="walletChargeResponse" type="tns:walletChargeResponse" />
  <xs:element name="walletRequest" type="tns:walletRequest" />
  <xs:element name="walletRequestResponse" type="tns:walletRequestResponse" />
  <xs:element name="walletTopupMTN" type="tns:walletTopupMTN" />
  <xs:element name="walletTopupMTNResponse" type="tns:walletTopupMTNResponse" />
  <xs:element name="walletTopupMTNSingle" type="tns:walletTopupMTNSingle" />
  <xs:element name="walletTopupMTNSingleResponse" type="tns:walletTopupMTNSingleResponse" />
  <xs:element name="walletTopupSetaval" type="tns:walletTopupSetaval" />
  <xs:element name="walletTopupSetavalResponse" type="tns:walletTopupSetavalResponse" />
  <xs:element name="walletTopupSetavalSingle" type="tns:walletTopupSetavalSingle" />
  <xs:element name="walletTopupSetavalSingleResponse" type="tns:walletTopupSetavalSingleResponse" />
  <xs:complexType name="requestWithId">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:requestWithIdIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="requestWithIdIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:requestIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="paymentId" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="requestIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:financialIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="CVV2" type="xs:string" />
          <xs:element minOccurs="0" name="EXPDate" type="xs:string" />
          <xs:element minOccurs="0" name="prevRefNo" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="financialIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="amount" type="xs:string" />
          <xs:element minOccurs="0" name="invoiceNo" type="xs:string" />
          <xs:element minOccurs="0" name="PAN" type="xs:string" />
          <xs:element minOccurs="0" name="PINBlock" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="baseInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="authInfo" type="tns:authInfo" />
      <xs:element minOccurs="0" name="custMobile" type="xs:string" />
      <xs:element minOccurs="0" name="date" type="xs:string" />
      <xs:element minOccurs="0" name="localIP" type="xs:string" />
      <xs:element minOccurs="0" name="merchantID" type="xs:string" />
      <xs:element minOccurs="0" name="STAN" type="xs:string" />
      <xs:element minOccurs="0" name="serial" type="xs:string" />
      <xs:element minOccurs="0" name="terminalID" type="xs:string" />
      <xs:element minOccurs="0" name="time" type="xs:string" />
      <xs:element minOccurs="0" name="version" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="userOperator" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="requestWithIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="baseOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="approvalCode" type="xs:string" />
      <xs:element minOccurs="0" name="refNo" type="xs:string" />
      <xs:element minOccurs="0" name="responseCode" type="xs:string" />
      <xs:element minOccurs="0" name="responseMsg" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupSetaval">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:topupSetavalIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupSetavalIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:topupIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="orderType" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="topupIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:requestIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="mobile" type="xs:string" />
          <xs:element minOccurs="0" name="profileId" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="topupSetavalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:topupOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupOut">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseOutput">
        <xs:sequence>
          <xs:element minOccurs="0" name="topupAccBalance" type="xs:string" />
          <xs:element minOccurs="0" name="topupChargedAmnt" type="xs:string" />
          <xs:element minOccurs="0" name="topupRRN" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="walletTopupMTN">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:topupIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="walletTopupMTNResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:topupOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="balance">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:balanceIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="balanceIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:financialIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="CVV2" type="xs:string" />
          <xs:element minOccurs="0" name="EXPDate" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="balanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:balanceOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="balanceOut">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseOutput">
        <xs:sequence>
          <xs:element minOccurs="0" name="balance" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="walletBalance">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:balanceIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="walletBalanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:balanceOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupMTNSingle">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:topupIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupMTNSingleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:topupOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactionInfoCP">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:requestCPIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="requestCPIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:financialIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="track2Ciphered" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="transactionInfoCPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="billInq">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:billIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="billIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:requestIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="billID" type="xs:string" />
          <xs:element minOccurs="0" name="paymentID" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="billInqResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="billRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:billIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="billRequestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fundInquiry">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:fundInquiryIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fundInquiryIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:requestIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="destPAN" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="fundInquiryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:fundInqOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fundInqOut">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseOutput">
        <xs:sequence>
          <xs:element minOccurs="0" name="dualData" type="xs:string" />
          <xs:element minOccurs="0" name="firstOperator" type="xs:string" />
          <xs:element minOccurs="0" name="lastOperator" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="fundTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:fundTransferIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fundTransferIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:fundInquiryIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="dualData" type="xs:string" />
          <xs:element minOccurs="0" name="verificationCode" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="fundTransferResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fundTransferPlain">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:fundPlainIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fundPlainIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="amount" type="xs:string" />
          <xs:element minOccurs="0" name="CVV2" type="xs:string" />
          <xs:element minOccurs="0" name="destPAN" type="xs:string" />
          <xs:element minOccurs="0" name="EXPDate" type="xs:string" />
          <xs:element minOccurs="0" name="invoiceNo" type="xs:string" />
          <xs:element minOccurs="0" name="PAN" type="xs:string" />
          <xs:element minOccurs="0" name="PIN" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="fundTransferPlainResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCardList">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:baseInput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCardListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cardListOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cardListOut">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseOutput">
        <xs:sequence>
          <xs:element minOccurs="0" name="cards" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="fundInquiryPlain">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:fundPlainIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fundInquiryPlainResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:fundInqOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupSetavalSingle">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:topupSetavalIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupSetavalSingleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:topupOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="walletTopupSetaval">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:topupSetavalIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="walletTopupSetavalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:topupOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supportCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:supportInput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supportInput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="expDate" type="xs:string" />
          <xs:element minOccurs="0" name="pan" type="xs:string" />
          <xs:element minOccurs="0" name="reason" type="xs:string" />
          <xs:element minOccurs="0" name="supporterCode" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="supportCollectionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:configOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="configOut">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseOutput">
        <xs:sequence>
          <xs:element minOccurs="0" name="menuTags" type="xs:string" />
          <xs:element minOccurs="0" name="merchantId" type="xs:string" />
          <xs:element minOccurs="0" name="terminalId" type="xs:string" />
          <xs:element minOccurs="0" name="workingKeys" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="transactionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:requestIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactionInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jiringBillRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:jiringBillReqIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jiringBillReqIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:financialIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="midTerm" type="xs:string" />
          <xs:element minOccurs="0" name="mobile" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="jiringBillRequestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="request">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:requestIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="requestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupMTN">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:topupIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupMTNResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:topupOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jiringBillInquiry">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:jiringBillInqIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jiringBillInqIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="duration" type="xs:string" />
          <xs:element minOccurs="0" name="mobile" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="jiringBillInquiryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:jiringBillInqOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jiringBillInqOut">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseOutput">
        <xs:sequence>
          <xs:element minOccurs="0" name="endTermAmount" type="xs:string" />
          <xs:element minOccurs="0" name="midTermAmount" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="login">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:baseInput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:loginOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginOut">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseOutput">
        <xs:sequence>
          <xs:element minOccurs="0" name="merchAddress" type="xs:string" />
          <xs:element minOccurs="0" name="merchOperator" type="xs:string" />
          <xs:element minOccurs="0" name="merchPhone" type="xs:string" />
          <xs:element minOccurs="0" name="postalCode" type="xs:string" />
          <xs:element minOccurs="0" name="workingKeys" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="settlement">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:settleReverseIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="settleReverseIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="orgAmount" type="xs:string" />
          <xs:element minOccurs="0" name="orgRefNo" type="xs:string" />
          <xs:element minOccurs="0" name="transType" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="settlementResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="walletTopupMTNSingle">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:topupIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="walletTopupMTNSingleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:topupOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reversal">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:settleReverseIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reversalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupMTNCPSingle">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:topupCPIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupCPIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:requestCPIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="mobile" type="xs:string" />
          <xs:element minOccurs="0" name="profileId" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="topupMTNCPSingleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:topupOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="walletCharge">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:walletChargeIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="walletChargeIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:requestIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="walletPAN" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="walletChargeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:balanceOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupMTNCP">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:topupCPIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupMTNCPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:topupOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:baseInput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCardResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cardListOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="config">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:baseInput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="configResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:configOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="billRequestCP">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:billCPIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="billCPIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:requestCPIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="billID" type="xs:string" />
          <xs:element minOccurs="0" name="paymentID" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="billRequestCPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="refund">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:refundIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="refundIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:fundInquiryIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="orgAmount" type="xs:string" />
          <xs:element minOccurs="0" name="orgRefNo" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="refundResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="walletTopupSetavalSingle">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:topupSetavalIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="walletTopupSetavalSingleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:topupOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="requestCP">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:requestCPIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="requestCPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="balanceCP">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:requestCPIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="balanceCPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupSetavalCP">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:topupCPIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupSetavalCPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:topupOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="walletRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:requestIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="walletRequestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupSetavalCPSingle">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:topupCPIn" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topupSetavalCPSingleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:topupOut" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>